@model CRM.Models.Models.MarketingCorreo
@{
    ViewBag.Title = "Modificar Correo";
}

<!--link href="../assets/css/summernote.css" rel="stylesheet" /-->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>


<script>

    $(document).ready(function () {

        $('#opcMark').addClass("nav-item active submenu");
        $('#mark').addClass("collapse show");
        $('#sopcCampañas').addClass("active");
        $('#m3').addClass('active');
        $('#Espera').hide();

        
        $("#Boton1").click(function () {
            $("form").attr("action", "/Marketing/ModificarCorreo").addClass('is-loading').prop('disabled', true);
        });

        $("#Boton2").click(function () {
            $("form").attr("action", "/Marketing/ModificarCorreo").addClass('is-loading').prop('disabled', true);
        });
 

    });

</script>

<style>

    .responsiva {
        max-width: 100%;
        height: auto
    }
</style>

<input type="hidden" id="IdConfiguracion" value="@Session["IdConfiguracion"].ToString()" />

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Modificar Correo</h4>
    </div>
    <div class="row">

        <div class="col-md-12">

            <div class="card">

                <div id="Espera" class="card-body is-loading is-loading-lg">
                    Card content
                </div>

                <div class="card-body">

                    @Html.Partial("_MenuMarketing")

                    <br />
                    <div class="alert alert-info" role="alert">
                        Puede modificar el mensaje del correo hasta antes de iniciar la campaña; durante ella y terminada, se bloquerán las modificaciones.
                    </div>

                    <form method="post" action="/Marketing/ModificarCorreo">
                        <input type="hidden" id="IdCampaña" name="IdCampaña" value="@Request["IdCampaña"]" />

                        <div class=" mail-wrapper bg-white" style="width:100%">
                            <div class="page-content mail-content">
                                <div class="email-head d-lg-flex d-block">
                                    <h3>
                                        <i class="fas fa-pen mr-1"></i>
                                        Modificar asunto y/o mensaje de correo de la campaña
                                    </h3>
                                </div>
                                <div class="email-compose-fields">
                                    <div class="form-group row">
                                        <label for="asunto" class="col-form-label col-md-1">Asunto</label>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control" id="asunto" name="asunto" placeholder="Agregue el asunto" value="@Model.Asunto">
                                        </div>
                                    </div>
                                </div>
                                <div class="alert alert-secondary" role="alert">
                                    Si el correo será personalizado agregue <strong>[nombre]</strong> y/o <strong>[apellidos]</strong> para agregar el nombre del contacto al que se le enviara el mail
                                    <br />
                                    <small>Aplica para el contenido en el cuerpo del correo como para el titulo (subject) del correo</small>
                                </div>
                                <div class="alert alert-secondary" role="alert">
                                    Agregue la siguiente liga para que el contacto agende el evento en su calendario<br />
                                    @CRM.Utilerias.CustomHelpers.CadenaAgenda(Request["IdCampaña"].ToString())
                                </div>

                                <div class="alert alert-secondary" role="alert">
                                    <a href="#" data-toggle="modal" data-target="#ModalPlantillas">Plantillas de correo</a>
                                </div>

                                <div class="email-editor">
                                    <textarea name="contenido" id="editor" placeholder="Cuerpo del correo">@Model.Cuerpo</textarea>
                                </div>
                            </div>
                        </div>

                        <!--div class="row">
                            <div class="col-md-3">

                                <div class="input-file input-file-image">
                                    <input type="file" class="form-control form-control-file" id="subirImg" name="subirImg" accept="image/*" required="">
                                    <label for="subirImg" class="label-input-file btn btn-primary">
                                        <span class="btn-label">
                                            <i class="fa fa-file-image"></i>
                                        </span>
                                        Obtener una imagen y subirla
                                    </label>
                                </div>

                            </div>

                        </div-->

                        @if (ViewBag.EstadoActual == 1)
                        {
                            <div class="card-action label-align-center">
                                <button id="Boton1" name="Boton1" value="BotonA" type="submit" class="btn btn-success">Terminar</button>
                                &nbsp;
                                <button id="Boton2" name="Boton2" value="BotonB" type="submit" class="btn btn-primary">Guardar y Probar el Correo Creado</button>
                            </div>
                        }

                    </form>
                    
                </div>
                
                

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ModalPlantillas" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="ModalLabel1">Plantillas de Correo</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-md-12">
                    
                    @CRM.Utilerias.CustomHelpers.ContenidoPlantillas()

                </div>

            </div>


            <div class="modal-footer">              
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalVistaPrevia" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: gainsboro">
            <div class="modal-header">
                <h3 class="modal-title" id="ModalLabel1">Vista Previa de la Plantilla</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <center>
                    <div style="border:1px solid gray">


                        <img id="imagenaver" src="" class="responsiva">

                    </div>
                </center>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="../assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
<script src="../assets/js/plugin/bootstrap-toogle/bootstrap-toggle.min.js"></script>

<script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="../assets/js/plugin/summernote/summernote-bs4.min.js"></script>
<script src="../assets/js/plugin/summernote/summernote-es.js"></script>
<script>

    $(document).ready(function () {
        $("#subirImg").change(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("subirImg").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("subirImg").files[i];
                formData.append("subirImg", file);
            }
            $.ajax({
                type: "POST",
                url: '/Marketing/SubirImagenCorreo',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function(response) {
                    alert('Se guardó la imagen');
                },
                error: function(error) {
                    alert('Error al intentar guardar la imagen');
                }
            });
        });
    });

    $('#editor').summernote({
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Helvetica', 'Times new Roman'],
        tabsize: 2,
        height: 300,
        lang: 'es-ES',
        //toolbar: [
        //    ['style', ['style']],
        //    ['font', ['bold', 'underline', 'clear']],
        //    ['fontname', ['fontname']],
        //    ['fontsize', ['fontsize']],
        //    ['color', ['color']],
        //    ['para', ['ul', 'ol', 'paragraph']],
        //    ['table', ['table']],
        //    ['insert', ['link', 'picture', 'video']],
        //    ['view', ['fullscreen', 'codeview', 'help']],
        //]
    });

    $('#ModalVistaPrevia').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Botón que dispara el modal
        var recipient = button.data('id')   // Extrae la info de los atributos data-* 
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        //modal.find('.imagenaver').src='../../assets/img/' + recipient
        modal.find('.modal-body input').val(recipient)
        $(".modal-body #imagenaver").attr("src", '../../assets/img/' + recipient);
    })

</script>

